<div class="main-container">
<div class="container col-sm-12 text-center">
    <div class="row">
        <h5 class="col-sm-12 text-center">Click on the below tabs to get artists information</h5>
        <ul class="artists-list col-sm-12" id="list">
            <li>
            <a *ngFor="let artist of artists" (click)="onTabClick($event, artist)">{{ artist.artistName }}</a>
            </li>
        </ul>
    </div> 
</div> 

<div class="container col-sm-12 text-center artists-information">
        <div *ngFor="let artistinfo of artistInfo" class="artist-info"><span class="font-weight-bold">Artist Name:</span>{{ artistinfo.artistName }}</div>
        <div *ngFor="let artistinfo of artistInfo" class="artist-info"><span class="font-weight-bold">Track Name :</span>{{ artistinfo.trackName }}</div>
        <div *ngFor="let artistinfo of artistInfo" class="artist-info"><span class="font-weight-bold">Artwork Url:</span>{{ artistinfo.artworkUrl30 }}</div>
</div>
</div>